.fcontainer{
display: flex;
border: 2px solid gray;
height: 45vh;
/* flex-direction: column; */
/* justify-content: center; */
/* justify-content: flex-start; */
/* align-items: center; */
/* justify-content: center; */
/* align-items: center; */
/* align-items: flex-start; */
/* flex-wrap: wrap-reverse; */
/* flex-wrap: wrap; */
}

.fitem{
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    width: 122px;
    height: 122px;
}

.item1{
    order: 3;
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    /* align-self: center; */
}

.item4{
    order: 4;
    /* flex-grow: 2; */
}